body {
  font-family: serif;
}

.header {
  overflow: hidden;
  background-color: #C6001E;
  padding:10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
  line-height: 25px;
  border-radius: 5px;
}

.header a.logo {
  padding: 0;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: #FFEF02;
  color: black;
}

.header-right {
 float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #C6001E;
    text-align: center;
    overflow: hidden;
    color: white;
}

.mpic {
   width: 40%;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
    padding-top: 7px;

}

.txt {
    font-size: 1.5em;
    text-align: center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 1.1em;
}

input[type=submit] {
  background-color: #FFEF02;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1em;
}

input[type=submit]:hover {
  background-color: #ddd;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 1.1em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.blt {
    font-size: 1.5em;

}

.blt ul {
    display: inline-block;
}
